{% extends 'base.html.twig' %}

{% block title %}Books - Community Library{% endblock %}

{% block body %}
    <h1>Our collection ({# books length #} books)</h1>

    <div class="book-grid">
        {# Loop over books using for loop #}
        <div class="book-card">
            <h2>
                <a href="{# Link to the show route #}">
                    {# book title #}
                </a>
            </h2>
            <p>{# Book author #} &mdash; {# Book year #}</p>
            <p><em>{# Book genre #}</em></p>
        </div>
        {# endfor #}
    </div>
{% endblock %}
